
/* ---------arrival ---------- */

.arrival {
    min-height: 100vh;
}

    .arrival .box-container {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        padding: 2rem 0;
        width: 100%;
        margin: 0 auto;
        padding-left: 40px;
    }

        .arrival .box-container .item {
            border: 1px solid var(--bluedark);
            overflow: hidden;
            position: relative;
            margin: 1rem 2rem;
            width: 350px;
        }

            .arrival .box-container .item .image {
                height: 20rem;
                padding: 0px 0px;
                text-align: center;
            }

                .arrival .box-container .item .image img {
                    height: 100%;
                    background-size: cover;
                    width: 100%;
                }

            .arrival .box-container .item .info h3 {
                padding: 1rem;
                font-size: 30px;
                color: var(--black);
                text-transform: capitalize;
                background-color: var(--blue);
            }

            .arrival .box-container .item .info .subInfo {
                background-color: var(--bluedark);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-top: .1rem solid rgba(0,0,0,.3);
            }

                .arrival .box-container .item .info .subInfo .price {
                    color: var(--pink);
                    font-size: 1.5rem;
                }

                    .arrival .box-container .item .info .subInfo .price span {
                        color: #666;
                        font-size: 1rem;
                        text-decoration: line-through;
                    }

                .arrival .box-container .item .info .subInfo .stars i {
                    color: yellow;
                    font-size: 1rem;
                }

            .arrival .box-container .item .overlay {
                position: absolute;
                top: -500px;
                left: 0;
                height: 20rem;
                width: 100%;
                background: rgba(0, 0, 0, 0.568);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s;
            }

            .arrival .box-container .item:hover .overlay {
                top: 0;
                opacity: 1;
            }

            .arrival .box-container .item .overlay a {
                border-radius: 50%;
                text-decoration: none;
                font-size: 25px;
                padding: 15px 15px;
                background: var(--blue);
                color: #666;
                margin: 1rem;
                transform: translateY(-15rem);
                transition-delay: calc(.1s * var(--i));
            }

            .arrival .box-container .item:hover .overlay a {
                transform: translateY(0rem);
            }

            .arrival .box-container .item .overlay a:hover {
                color: var(--pink);
                transform: scale(1.2);
                transition: .3s;
            }

    .arrival .owl-carousel .owl-prev, .arrival .owl-carousel .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
    }

    .arrival .owl-carousel .owl-prev {
        left: 0.8rem;
        ;
    }

    .arrival .owl-carousel .owl-next {
        right: 3.2rem;
        ;
    }

        .arrival .owl-carousel .owl-prev span, .arrival .owl-carousel .owl-next span {
            color: var(--pink);
            font-size: 7rem;
        } 
        
/* ---------Giảm giá--------- */
.best_seller {
    min-height: 50vh;
    background-color: #e43f89;
    margin-top: 100px;
}

    .best_seller .seller_container {
        width: 100%;
        margin: 0 auto;
        background-color: red;
        position: relative;
    }

        .best_seller .seller_container .images {
            width: 100%;
            position: absolute;
            /* background-size: cover; */
        }

            .best_seller .seller_container .images img {
                /* background-size: cover; */
                width: 100%;
            }

        .best_seller .seller_container .test {
            position: absolute;
            width: 700px;
            height: 350px;
            background-color: #e43f89;
            margin-left: 650px;
            text-align: center;
        }

            .best_seller .seller_container .test h1 {
                margin-top: 100px;
                color: white;
                font-size: 50px;
                animation: zoom 1s infinite;
            }

            .best_seller .seller_container .test .btn {
                background-color: white;
                color: #e43f89;
                margin-top: 50px;
                font-size: 25px;
            }

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
/*----------------------------------------------*/
.deal {
    min-height: 50vh;
    margin-top: 100px;
}

    .deal .deal_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3rem 0;
        width: 100%;
        margin: 0 auto;
    }

        .deal .deal_container .item {
            margin: 20px;
            border: 1px solid var(--bluedark);
            width: 320px;
            text-align: center;
            padding: 25px;
            height: 120px;
            transition: 1s;
        }

            .deal .deal_container .item .deal_icon {
                font-size: 60px;
                color: var(--bluedark);
            }

            .deal .deal_container .item .deal_text {
                margin-top: 10px;
            }

                .deal .deal_container .item .deal_text h1 {
                    font-family: tahoma;
                    color: var(--black);
                }

            .deal .deal_container .item:hover {
                transform: skewY(-10deg);
                transition: 1s;
            }

/* -------------Đánh giá------------------- */
.review .owl-carousel .owl-prev, .review .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.review .owl-carousel .owl-prev {
    left: 1.3rem;
    ;
}

.review .owl-carousel .owl-next {
    right: 1.3rem;
    ;
}

    .review .owl-carousel .owl-prev span, .review .owl-carousel .owl-next span {
        color: #fff;
        font-size: 7rem;
    }

.review {
    min-height: 50vh;
}

    .review .review_container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 6rem 0;
        width: 100%;
        margin: 0 auto;
        padding-left: 4.5rem;
    }

        .review .review_container .item {
            text-align: center;
            border: 1px solid var(--bluedark);
            padding: 2rem;
            width: 300px;
            /* margin: 20px; */
        }

            .review .review_container .item .stars i {
                color: yellow;
            }

            .review .review_container .item p {
                color: gray;
                margin-bottom: 10px;
            }

            .review .review_container .item .user {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .review .review_container .item .user .img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 5px;
                    border: 1px solid var(--bluedark);
                }

                    .review .review_container .item .user .img img {
                        width: 100%;
                        object-fit: cover;
                    }

                .review .review_container .item .user .text h3 {
                    color: var(--pink);
                }
